<header>
  <nav class="nav-bar">
    <div class="logo-and-toggle">
      <div class="logo">
        <img src="images/caravel.png" alt="Caravel Logo" />
      </div>
      <div class="menu-toggle" id="menu-toggle">&#9776;</div>
    </div>

    <ul class="nav-list" id="nav-list">
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="albums.html">Albums</a></li>
      <li><a href="events.html">Events</a></li>
      <li><a href="gallery.html">Gallery</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>
</header>

<script src="js/include.js"></script>

